#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.app {
  display: flex;

}

.description {
  width: 450px;
}

.editor {
  display: flex;
  flex-direction: column;
  width: 450px;  
}
.select {
  display: flex;
}

.container {
  /* display: flex; */
}